docs/Node-RedFlow.json
[{"id":"22794836.2d4d68","type":"serial in","z":"9b37bf9b.91d82","name":"temperatureSensor","serial":"fd59842.6421e78","x":133.57142639160156,"y":214.57142853736877,"wires":[["61df614f.1bf33","54f0b4bb.a23bec"]]},{"id":"54f0b4bb.a23bec","type":"debug","z":"9b37bf9b.91d82","name":"beforeFormat","active":false,"console":"false","complete":"payload","x":378.57142639160156,"y":173.57142853736877,"wires":[]},{"id":"61df614f.1bf33","type":"function","z":"9b37bf9b.91d82","name":"Format Temperature ","func":"var res = {};\nvar tempArray = [];\nvar tempUnit = \"\";\n\ntempString = msg.payload;\ntempArray = tempString.split(\"\\t\");\ntempUnit = tempArray[1].replace(\"\\r\\n\",\"\");\nres.topic = \"roomTemperature\";\nres.payload = {};\n\nres.payload = {\"tipo\":\"control\",\"dato\":parseInt(tempArray[0]),\"fecha\":100000000,\"emergencia\":false};\nreturn res;","outputs":1,"noerr":0,"x":401.85716247558594,"y":233.42856979370117,"wires":[["e26bd66f.472ed8","dbb351f3.7452f"]]},{"id":"e26bd66f.472ed8","type":"debug","z":"9b37bf9b.91d82","name":"after format","active":true,"console":"false","complete":"payload","x":618.5714263916016,"y":168.57142853736877,"wires":[]},{"id":"dbb351f3.7452f","type":"http request","z":"9b37bf9b.91d82","name":"POST","method":"POST","ret":"txt","url":"http://localhost:9000/sensor/1/informe","tls":"","x":767.1427154541016,"y":229.99996757507324,"wires":[[]]},{"id":"fd59842.6421e78","type":"serial-port","z":"9b37bf9b.91d82","serialport":"COM9","serialbaud":"9600","databits":"8","parity":"none","stopbits":"1","newline":"\\n","bin":"false","out":"char","addchar":true}]